.navbar {
    background-color: #f8f9fa; /* Light background */
  }
  
  .navbar .nav-link {
    color: #2F5597; /* Custom color for links */
    font-size: 18px; /* Increase font size */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .navbar .nav-link:hover {
    color: #0056b3; /* Change color on hover */
  }
  
  .navbar .navbar-brand {
    font-size: 20px; /* Larger brand font size */
  }
  
  .navbar .navbar-toggler {
    border-color: #2F5597; /* Toggler border color */
  }
  
  .navbar .navbar-toggler-icon {
    background-color: #2F5597; /* Toggler icon color */
  }
  
  .shadow-sm {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  }
  